<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<string>dd0</string>
		<string>ee0</string>
		<string>ff0</string>
		<string>gg0</string>
		<string>ss</string>
		<string>ee</string>
		<string>ff</string>
		<string>gg</string>
		<string>aa</string>
		<string>hh</string>
		<string>ss1</string>
		<string>dd1</string>
		<string>aa1</string>
	</array>
</dict>
</plist>
